* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.nav {
  background-color: black;
  color: #ffff;
  display: flex;
  width: 950px;
  height: 70px;
}

#nav-title {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 45px;
}

#header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 35px;
}

.container {
  background-color: white;
  width: 950px;
  height: 1000px;
  margin-top: 25px;
  display: flex;
  gap: 65px;
}

.col-left {
  background-color: #ffff;
  border-width: thick;
  border-radius: 5px;
  height: 350px;
  width: 270px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.col-right {
  width: 750px;
  display: flex;
  flex-direction: column;
  margin-left: px;
  gap: 15px;
}

#img {
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
}

#profile_name {
  font-size: 35px;
  font-weight: bold;
}

/* pre-card */
.post {
  height: 200px;
  background-color: #ffff;
  border-style: solid;
  border-width: thick;
  border-radius: 5px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.likes {
  margin-right: 45px;
}

.top h2 {
  margin-left: 20px;
  padding: 20px;
  font-size: 25px;
}

.span1,
.span2,
.span3 {
  margin-right: 80px;
  font-size: 20px;
  font-weight: bold;
}

.post p {
  border: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 42px;
  font-weight: bold;
  font-size: 26px;
  align-items: center;
}

.btn {
  background-color: #ffd966;
  height: 45px;
  width: 85px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  border-style: solid;
  border-width: thick;
  border-color: black;
  box-shadow: 5px 3px black;
}
/* pre-card */
#link-avatar {
  color: #5688b4;
  font-size: 24px;
}

.link {
  color: #5688b4;
  font-size: 24px;
}

.post h2 {
  font-size: 35px;
}
